version: '3'
services:
  redis:
    image: redis:alpine
    restart: always
    ports:
     - "6379:6379"
  yorickbot:
    container_name: yorickbot
    build:
      context: .
      dockerfile: Dockerfile
    ports:
     - "8081:8081"
    depends_on:
     - redis
    links:
     - redis
    environment:
    - REDIS_HOST=localhost
    - REDIS_PORT=6379
    - REDIS_PWD=